<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/recipe/update/{id}(id=${category.id})}"
      th:object="${category}"
      method="post">
    <label for="label">Name</label>
    <input type="text" th:field="*{label}" id="label" placeholder="Name">
    <span th:if="${#fields.hasErrors('label')}" th:errors="*{label}"></span>
    <input type="submit" value="Update Category">
</form>
</body>
</html>